@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600;900&display=swap');

/*
Emerald green #046307
Light grey #f5f5f5
*/
:root {
  --bg-color: #046307;
  --trans-effect: .1s ease-in-out;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  /*background: url('img/Small-circles.png') repeat scroll;
  background-blend-mode: screen;
  background-size: 30%;*/
  
}

body > .overlay {
  z-index: 4;
  display: none;
  /*background: rgba(0, 0, 0, .5);*/
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  padding: 2rem 0;
  background: white;
  box-shadow: 0 0 2px 3px rgba(0,0,0,.1);
}

h1, h2 {
  position: relative;
}

.purp {
  color: #39375b;
}

h2 {
  padding-left: 1rem;
}

h1:before, h2:before {
  content: "";
  position: absolute;
  background-color: var(--bg-color);
  padding: 5px .5em;
  bottom: -5px;
  display: inline-block;
}

h1:after, h2:after {
  content: "";
  position: absolute;
  background-color: var(--bg-color);
  padding: 1px;
  padding-left: 1em;
  bottom: -5px;
  display: inline-block;
}
.header-text {
  font-weight: 700;
  font-size: 2em;
}

.header-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.header-text .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--bg-color);
  transform-origin: 0 50%;
}

.header-text .line1 { 
  top: 0; 
  left: 0;
}

.header-text .letter {
  display: inline-block;
  line-height: 1em;
}

.side-section {
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  position: fixed;
  top: 1em;
  left: -100%;
  background: white;
  text-align: center;
  transition: .2s;
  z-index: 5;
  color: white;
  font-size: 1.3rem;
  transform: rotate(90deg) translateX(-200%);
}

.side-section.slide {
  left: 5%;
  transform: none;
}

.side-section .bar {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  overflow: hidden;
}

.side-section .bar-item {
  padding: 2.5rem 0;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #f5f5f5;
  transition: .3s;
  background: var(--bg-color);
}

.side-section .bar-item:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
  background: white;
  color: #000;
}

.bar-item:nth-child(1) {
  border-bottom-right-radius: 30%;
} .bar-item:nth-child(2) {
  border-bottom-left-radius: 30%;
} .bar-item:nth-child(3) {
  border-top-right-radius: 30%;
} .bar-item:nth-child(4) {
  border-top-left-radius: 30%;
}

.float-btn,
.return-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

.float-btn {
  left: 0;
  top: 0;
  background-color: #fff;
  margin: 4px 8px;
  z-index: 5;
  overflow: hidden;
}

.float-btn .dot {
  border-radius: 100%;
  padding: .2em;
  background: var(--bg-color);
  display: inline-block;
  margin: 2px;
  transition: .2s;
}

.fill-dot {
  border: 3px solid white;
}

.fill-dot::before,
.fill-dot::after {
  content: "";
  position: absolute;
  background: white;
  padding: 2px;
  width: 2em;
  height: .2em;
}

.fill-dot::before {
  transform: rotate(60deg);
}

.fill-dot::after {
  transform: rotate(-60deg);
}

.fill-dot .dot {
  padding: 2rem;
}

.return-btn {
  bottom: 2em;
  right: -3rem;
  z-index: 4;
  color: var(--bg-color);
  font-weight: 800;
  font-size: 1.8rem;
  transition: .3s;
  background-color: #;
}

.main-section {
  
}

.series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 800px;
  font-size: 5px;
  max-width: 120rem;
}

.movie-card {
  margin: .5rem;
  text-transform: capitalize;
  overflow: hidden;
  width: 16.8rem;
  height: 12rem;
  font-size: 1.2rem;
  color: #000;
  position: relative;
  border-radius: .3rem;
  transition: .2s ease-in;
  transform: rotate(1deg);
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
  z-index: 3;
}

.movie-card:hover img {
  transform: none;
}

.movie-card:hover .overlay {
  background: rgba(0, 0, 0, .5);
}

.movie-card *,
.movie-info-container * {
  transition: var(--trans-effect);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
}

.movie-card .overlay {
  z-index: 1;
}

.movie-card .view-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--bg-color);
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.movie-card:hover .view-btn {
  width: 30%;
}

.movie-card:hover .view-btn:hover {
  font-size: 1.5em;
  border-left: 5px solid #222;
  width: 40%;
  color: #222;
}

.movie-info-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  transition: var(--trans-effect);
  perspective: 800px;
  transform-style: preserve-3d;
}

.movie-info-container .overlay {
  background: rgba(0, 0, 0, .8);
  z-index: 4;
  animation: fade-in .2s ease-out 1;
}

.movie-info {
  font-family: 'Big Shoulders Stencil Display', cursive;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 5;
  border-radius: 10px;
  animation: bounce 1.2s cubic-bezier(0.280, 0.840, 0.420, 1) 1;
}

.movie-info .col-1 {
  flex: 2;
}

.movie-title {
  font-size: 2em;
  text-transform: capitalize;
}

.movie-info .col-2 {
  flex: 1;
  background: #222;
  color: white;
  padding: 1em;
}

.full-movie-image {
  width: 100%;
  height: 100%;
}

footer {
  padding: 2rem 1rem;
  background-color: #fff;
  text-align: center;
  color: var(--bg-color);
  font-family: 'Big Shoulders Stencil Display', sans-serif;
  margin-top: 2rem;
  font-weight: 800;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, .1);
  margin-top: 5rem;
}

@keyframes fade-in {
  from {
    background: none;
  }
  to {
    background: rgba(0, 0, 0, .8);
  }
}

@keyframes appear {
  from {
    transform: translateY(-200%) scale(.2) rotate(90deg);
  }
  to {
    transform: none;
  }
}

@keyframes bounce {
  0% { transform: scale(0) translateY(-200%); }
  10%  { transform: scale(1.1,.9) translateY(-7px); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1) translateY(-7px); }
  64%  { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}

@media (min-width: 720px) {
  .series {
    margin: 2rem;
  }
  
  .movie-card {
    margin: 1rem;
  }
  
  .movie-card:hover {
    transform: scale(.9);
  }
  
  .movie-info {
    flex-direction: row;
    width: 40rem;
    height: auto;
  }
}

@media (min-width: 900px) {
  .header-text {
    font-size: 5rem;
  }
  
  .series {
    margin: 0 auto;
  }
  
  .movie-card {
    width: 14rem;
    height: 10rem;
    margin-top: 2rem;
  }
  
  .movie-card:hover {
    transform: scale(1.2);
  }
  
  footer {
    padding: 5rem 0;
  }
}
